.ph-2{
  padding: 0px 4vw;
}

section#waw{
  h1{
    background-image: linear-gradient(120deg, #000000cb,#333131cb),  url("../images/marvin-meyer-SYTO3xs06fU-unsplash\ \(1\).jpg");
    padding: 250px 20px;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 2.5em;
    text-align: center;
  }
  .ph-2{
    padding: 50px 4vw;
    p{
      margin: 50px 0;
      font-size: 1.2em;
    }
  }
}

section#goal{
  h1{
    background-image: linear-gradient(120deg, #000000cb,#333131cb),  url("../images/ran-berkovich-kSLNVacFehs-unsplash\ \(2\).jpg");
    padding: 300px 20px;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 2.5em;
    text-align: center;
    background-size: cover;
  }
  .ph-2{
    padding: 50px 4vw;
    p{
      margin: 50px 0;
      font-size: 1.2em;
    }
  }
}

section.values{
  h1{
    background-image: linear-gradient(120deg, #000000cb,#333131cb),  url("../images/tingey-injury-law-firm-yCdPU73kGSc-unsplash.jpg");
    padding: 300px 20px;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 2.5em;
    text-align: center;
    background-size: cover;
  }
  .ph-2{
    padding: 50px 4vw;
    p{
      margin: 50px 0;
      font-size: 1.2em;
    }
  }
}

